* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5872f3;
}

::-webkit-scrollbar-thumb:hover {
  background: #463ed7;
}

.nav-width{
  width:100%;
} 

@media (min-width: 1024px){
     .marg-10{
      margin: 0 8%;
     }
}

@media (min-width:768px){
  .marg-10{
   margin: 0 5%;
  }
}